.players {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: fit-content;
  max-height: 500px;
  overflow: auto;
  text-align: center;
  background-color: #153e90;
  position: absolute;
}

.players-title {
  margin: 15px;
  color: white;
  font-family: "Redressed", cursive;
  font-size: 25px;
}

.player {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  font-weight: bolder;
}
